<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
	We are a group of women from the Northwest who are interested in racing
	at national level cycling events during the 2014 season. 
	
	This page is made using the <a href="http://railstutorial.org">RoR Tutorial</a>
	by Michael Hartl.
	
	Page created by <a href="http://about.me/kat.reinhart">Kat Reinhart</a>.
</p>
