<% provide(:title, 'Home') %>

<h1>NW Womens Composite Team Info Page</h1>
<p>
	This is the home page for the NW Womens Composite Racing Team. 
	Created by <a href="http://about.me/kat.reinhart</a>Kat Reinhart</a>
	using the <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
	by Michael Hartl.
</p>